body{
    margin:0;
}
body,html{
    height:100%;
}
canvas{
    display:block;
    background-color:#000;
}

#input{
    position:absolute;
    z-index:999;
    border-radius:10px;
    border:none;
    outline:none;
    bottom:100px;
    width:180px;
    padding:10px;
    box-sizing:border-box;
    height:30px;
    left:calc(50% - 90px);
    opacity:0;
    transition:all 0.5s ease;
}